@font-face {
    font-family: "TT Lakers";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakers";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/TTLakes/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TT Lakers";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/TTLakes/TTLakes-Bold.woff") format("woff");
}

:root {
    --main-white-color: #ffffff;
    --main-background-color: #F8F8F8;
    --accent-color: #41F6D7;
    --main-text-color: #1B1C21;
    --accent-text-color: #7E7E82;
    --icon-color: #FF3E79;
    --background-color: #F8F8F8;
}

.body {
    margin: auto;
    background-color: var(--background-color);
}

.main-font {
    font-family: "TT Lakers", serif;
}

.button-reset {
    border: none;
    cursor: pointer;
    background: var(--main-white-color);
}

.text-for-768px {
    display: none;
}

.text-for-1024px {
    display: none;
}

.main__nav-1024px {
    display: none;
}

.list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-style-reset {
    color: #000;
    text-decoration: none;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
.header {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 16px;
    gap: 16px;
}

.header__left {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease, filter 0.3s ease;
}
.logo:hover {
    opacity: 0.7;
}

.button-menu {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--icon-color);
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;
}
.button-menu:hover {
    opacity: 0.7;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.header__nav::before {
    content: "";
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    align-self: center;
    border-radius: 2px;
}

.header__nav button:nth-child(-n+3) {
    display: none;
}

.main__title {
    position: relative;
    padding-left: 14px;
    font-size: 28px;
}

.main__title::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 40px;
    border-radius: 30%;
    background: var(--accent-color);
}

.main__navigation {
    overflow: auto;
}

.main__navigation-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 16px;
}

.main__navigation-list-item {
    padding: 8px 16px;
    background: var(--main-background-color);
}

.main__navigation-list-item-link {
    font-weight: 500;
    white-space: nowrap;
    color: var(--accent-text-color);
    background: var(--main-background-color);
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.main__navigation-list-item--active {
    border: 2px solid var(--accent-color);
    background: var(--main-white-color);
    border-radius: 6px;
}
.main__navigation-list-item-link--active{
    background: var(--main-white-color);
}

.main__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__content-text {
    margin: 0 16px;
    padding-bottom: 16px;
    font-size: 14px;
}

.main__content-read-more {
    margin-left: 16px;
    margin-bottom: 16px;
    align-self: flex-start;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    background: var(--main-background-color);
}

.main__content-read-more::before {
    content: url("../assets/icons/icon_scroll-arrows.svg");
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.main__content-img {
    width: 100%;
    height: auto;
    display: block;
}
.body{
    margin: 0;
    padding: 0;
}
.aside{
    height: 100vh;
    background-color: var(--main-white-color);
    box-sizing: border-box;
    max-width: 320px !important;
    box-shadow: 16px 0 52px 0 #0E185033, -2px 0 4px #454F7E05;
}
.aside__container{
    box-sizing: border-box;
    padding: 18px 23px 32px 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.aside__container-top{
    display: flex;
    flex-direction: column;
}

.aside-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 46px 0 32px 0;
}
.aside-list__item-link{
    font-size: 16px;
    font-family: "TT Lakers", serif;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    color: var(--main-text-color);
    transition: opacity 0.3s ease, filter 0.3s ease;
}
.aside-list__item-link:hover{
    opacity: 0.7;
}
.aside-list__item--active{
    color: var(--accent-text-color);
    position: relative;

}
.aside-list__item--active::before{
    content: "";
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 40px;
    border-radius: 30%;
    background: var(--accent-color);
}

.footer__bottom-mail{
    font-family: "TT Lakers", serif;
    font-size: 16px;
    line-height: 24px;
    transition: opacity 0.3s ease, filter 0.3s ease;
}
.footer__bottom-mail:hover{
    opacity: 0.7;
}
.footer__bottom-phone{
    font-family: "TT Lakers", serif;
    font-size: 20px;
    font-weight: bold;
    transition: opacity 0.3s ease, filter 0.3s ease;
}
.footer__bottom-phone:hover{
    opacity: 0.7;
}

.aside__footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.languages-list{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 30px;
}
.languages-list-item{
    transition: background-color 0.3s ease, filter 0.3s ease;
}
.languages-list-item:hover{
    opacity: 0.7;
}
.languages-link{
    font-size: 16px;
    font-weight: 500;
    font-family: "TT Lakers", serif;
}
.languages-link--active{
    color: var(--accent-text-color);
    font-weight: 400;
}
@media (min-width: 768px) {
    .header__nav button:nth-child(-n+3) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav button:nth-child(4) {
        margin-left: 15px;
    }

    .header__nav::before {
        display: none;
    }

    .header__nav button:nth-child(4)::before {
        content: "";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        align-self: center;
        border-radius: 2px;
        left: -25px;
        position: relative;
    }

    .main__content {
        flex-direction: row;
        margin-top: 32px;
        justify-content: space-between;
    }

    .main__content-left-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main__content-img {
        border-radius: 10px;
    }

    .text-for-768px {
        display: block;
    }
}

@media (min-width: 1024px) {
    .header__main {
        display: none;
    }

    .main__header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main__nav-1024px {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 160px;
        gap: 160px;
    }

    .main__nav-link {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: var(--icon-color);
        border-radius: 50%;
        font-size: 16px;
    }

    .main__nav-text {
        position: absolute;
        left: -135px;
        color: var(--main-text-color);
        font-weight: 500;
    }

    .text-for-768px {
        display: none;
    }

    .text-for-1024px {
        display: block;
    }

    .main__navigation-list > li:nth-child(-n+5) {
        display: block;
    }

    .main__navigation-list > li:nth-child(3) {
        display: none;
    }

    /*переделать active, когда добавим js в проект */
    .main__navigation-list-item--active:nth-child(2) {
        border: none;
    }

    .main__navigation {
        overflow: unset;
    }

    .main__navigation-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}